* {
    font-family:arial, sans-serif;
    font-weight:bold;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.smiley {
    display:inline-block;
    width:67px;
    height:57px;
}
.info { width:200px; }
.time { text-align:center; }
.score { text-align:center; font-size:50px; }
.block:hover { opacity:.6; }
.block dvi{ width:5px; }
.block { display:inline-block;overflow:hidden; white-space:none; width:22px !important;height:22px !important; font-size:10px; display:block; border:solid 1px black; text-align:center; background:#ffc; cursor:pointer; }
.mine { background:red; }
.hide { background:white; box-shadow:0 0 16px tan inset; }
.hide div { display:none; }
.flagged { background:yellow; box-shadow:0 0 16px orange inset; }